h1 {
  color: teal;
}

#container {
  border: 1px solid black;
  padding: 10px;
  margin: 30px;
}

.person {
  border: 2px solid black;
  padding: 2px;
}

.clicked {
  border-color: red;
}

#table {
  text-align: left;
}

td, th {
  border: 1px solid black;
  padding: 3px;
}

tr:hover {background-color: lightgray}

#employeeinfo {
  display: block;
  margin: 20px;
}

#employeeinfo input {
  margin-left: 18em;
}

#employeeinfo label {
  position: absolute;
}

.first {
  margin: 10px;
}

.last {
  margin: 10px;
}

.number {
  margin: 10px;
}

.title {
  margin: 10px;
}

.annualsalary {
  margin: 10px;
}

.submitbutton {
  margin: 10px;
  margin-left: 30px;
}
